<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/proyectoOrm</property>
        <property name="hibernate.connection.username">xavier</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="ORM/Empleado.hbm.xml"/>
        <mapping resource="ORM/Empleadodatosprof.hbm.xml"/>
        <mapping resource="ORM/Proyecto.hbm.xml"/>
        <mapping resource="ORM/Proyectosede.hbm.xml"/>
        <mapping resource="ORM/Sede.hbm.xml"/>
        <mapping resource="ORM/Departamento.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
